@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 90 8% 95%;
    --foreground: 90 8% 5%;

    --card: 80 10% 94%;
    --card-foreground: 90 8% 5%;

    --popover: 80 10% 94%;
    --popover-foreground: 90 8% 5%;

    --primary: 87 80% 44%;
    --primary-foreground: 120 9% 2%;

    --secondary: 90 12% 91%;
    --secondary-foreground: 90 8% 5%;

    --muted: 90 8% 91%;
    --muted-foreground: 86 9% 45%;

    --accent: 90 8% 91%;
    --accent-foreground: 90 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 80 9% 87%;
    --input: 87 9% 80%;
    --ring: 87 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 107 100% 66%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 6%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 49%;

    --accent: 0 0% 6%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 11%;
    --input: 0 0% 16%;
    --ring: 107 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

img {
  border-radius: 0.5rem;
  object-fit: cover;
  max-height: 249px;
  max-width: 166;
}
